

body .progtitle p{
  padding-top: 50px;
}


p {
  color:grey;
  font-size:10px;
}

tbody {
  font-size:10px;
}




container-fluid {
  padding-left: 5px;
}
.progtitle{
  padding-left: 5px;
  margin-bottom: -.75rem;
}


.progcompletion{
  padding-left: 5px;

}

.progfollowers{
  padding-left: 10px;
  display: flex;
}

.followers{
  display: flex;
  padding-top: 5px;
}

.followers svg{
  color: #747474;
}

.miniature{
  padding-left: 123px;
}

.progfollowerscount p{
  color: #FB8787;
}

.reco p{
  padding-left: 5px;
}
.recipereco{

  padding-left: 5px;
}

.recipereco{
  display: flex;
}

.Leaderboard{
  padding-left: 5px;
  padding-top: 10px;
}

.products-recommendation{
  padding-left: 5px;
  padding-top: 10px;
}

.carousel {
  width:182px;
  height:121px;

}

.progcompletionimg{
  display: flex;
}

.reco{
  margin-bottom: -.75rem;

}

.reciperecoimg{
  display: flex;

}
.productsrecoimg{
  display: flex;
}

.Leaderboard{
  padding-top: 20px;
  margin-bottom: -.4rem;
}

.alerts p{
  padding-left: 5px;
  font-family: "arial";
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.nav{
  padding-top: 50px;
  font-family: arial;
  font-size: 15px;
  margin-bottom: -0.2rem;
}

a{
  color: #03DAC6;
}

a:active{
  color: #ff9999;
}

.tabs{
  display:block;

}

.progtitle1 p{
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  padding-left: 5px;
  margin-bottom: 0.1rem;
}

.progdescription p{
    padding-left: 5px;
    font-family: arial;
    font-size: 12px;
    margin-bottom: 0.1rem;
    color:#ff9900;
}

.progoverview{
  display: flex;
  padding-top: 10px;
}

.time{
  padding-left: 5px;
  display: flex;
}

.time p {
  padding-left: 5px;
}



.bi.bi-calendar-check{
  padding-left: 50px;
  width: inherit;

}

.equip p{
  padding-left: 70px;
}
