html, body{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

.bi.bi-bell-fill{
  float: right;
  color: grey;
}

.bag{
  float: right;
  color: grey;
}

.navbar-brand svg{
  color: blue;
}

p {
  color:grey;
  font-size:10px;
}

.navbar-brand{
  color: blue;
}

.container-fluid svg{
  fill: grey !important;
  width: 24px;
  height: 24px;
}

.prog {
  padding-top: 50px;
}

.progtitre{
  color:grey;
  font-size:10px;
  margin-left: 5px;
  margin-top: 0px;
  padding: 0px;
}

.p-2 img{
  display: block;
  margin: 0;
}

#nbclap{
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
}
 #reco{
  color:grey;
  font-size:10px;
  margin-left: 5px;

  padding: 0px;
}

#recipe1{
  margin-top: 5px;
}

.Leaderboard{
  padding-left: 5px;
}


.carousel {
  width:100%;
  height:auto;
}

.progcompletionimg{
  display: flex;
}


.reciperecoimg{
  display: flex;
}
.productsrecoimg{
  display: flex;
}


.Leaderboard{
  margin-top: 10px;
  margin-bottom: ;
}

#leaderboard{
  margin-top: 20px;
}


tbody {
  font-size:10px;
}

td p{
  font-style: italic;
}

.table.table-sm{
  margin-bottom: 0;
}

.container.mt-5{
  margin-top: -50px;
}

.alerts p{
  padding-left: 5px;
  font-family: "arial";
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
  margin-top: -1.2rem;
}

.nav{
  padding-top: 50px;
  font-family: arial;
  font-size: 15px;
  margin-bottom: -0.2rem;
  display: inline-block;
}

.nav-link svg{
  color: grey;
  margin-left: 10px;
}



a:active{
  color: #03DAC6;
}



.progtitle1 p{
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  padding-left: 5px;
  margin-bottom: 0.1rem;
}



/* training */

#tabs{
  padding-top: 55px;
  text-align: center;
}

#progdescription p{
    padding-left: 5px;
    font-family: arial;
    font-size: 12px;
    margin-bottom: 0.1rem;
    margin-top: -4px;
    color:#ff9900;
}

#training{
  margin-top: 5px;
}

#progoverview{
  text-align: center;
  padding-top: 5px;
}

#duration svg,p{
  display: inline-block;
  text-align:center;
}

#perweek svg,p{
  display: inline-block;
  text-align:center;
}

#equipment p{
  display: inline-block;
  text-align: center;
}

/* training details*/

#progdetails{
  padding-top: 55px;
}

#tabsprog{
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.cal{
  padding-left: 100px;
}

.dif{
  padding-left: 70px;
}

.recetteactif{
  padding-left: 5px;
}

.recetteoverview{
  padding-top: 5px;
}



.progphases {
  margin: 0 auto;
  width: 300px;
  display: flex;
  justify-content: center;
  padding-top: 15px;


}

.progphases p {
  font-size: 13px;

}

.progcontent{
  padding-left: 5px;
  margin-top: 10px;
  font-size: 13px;

}

table{
  width: 100%;
}

.progcontent td{
  height: 30px;
  font-size: 12px;
}

.minutes-set{
  margin: auto;
}


.sessiontrackertitle {
  margin: 0 auto;
  width: 300px;
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

.sessiontrackertitle p{
  font-size: 13px;
  color: lightgrey;
}

.sessiontracker{

  display: flex;
  padding-bottom: 60px;
}

.sessiontracker button{
  width: 20px;
  height: 20px;
  margin-left: 13px;
  margin-top: 38px;
  margin-right: 13px;

}

#tracker{
justify-content: center;
}

#trackerset{
  text-align: center;
}

#trackerreps{
  text-align: center;
}

#trackerweight{
  text-align: center;
}

#trackerrpe{
  text-align: center;
}

#exampleFormControlSelect1{
  text-align: center;
  margin: auto;
}

#exampleFormControlSelect2{
  text-align: center;
  margin: auto;
}

#exampleFormControlSelect3{
  text-align: center;
  margin: auto;
}

#exampleFormControlSelect4{
  text-align: center;
  margin: auto;
}

.validation{
  text-align: center;

}

label{
  font-size: 11px;
  margin-left: ;
}

.form-control{
  width: 50px;
  margin-left: 24px;
  border-style: none;
}
option{
  font-weight: bolder;
  font-size: 20px;
}

.progtitle2{
  padding-top: 50px;
}

.progtitle2 p{
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  padding-left: 5px;
  margin-bottom: 0.1rem;
}

.profilepic,p{
 	font-size: 15px;
  text-align: center;
}


.bi.bi-gem{
  margin-top: 10px;

}

.round-circle {
  padding-left: 5px;
}

 .btn-success {
	padding-left: 10px;

}

.profilepic img{
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profilepic svg{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.burntfat{
  padding-top: 20px;
}

.bodyfat{
  margin-top: 20px;
}

.weigth{
  margin-top: 20px;
}
.pulse{
  margin-bottom: 50px;
}

.progphases{
  margin-top: -55px;
}

.progphases a{
  font-size: 12px;
}

.progphases a{
  color: #03DAC6 ;
}

.progphases a:active{
  color: #FB8787;
}


.progcontent{
  margin-top: ;
}

.btngroup{
  margin-top: -5px;

}

.fa-stack.fa-1x{
  width: 10px;
}

#ronds{
  width: 30%;
  text-align: left;
  padding-left: 20px;
}

#weight{
  text-align: center;
}

#serie{
  width: 20%;
  text-align: center;
}

.far.fa-circle {
  color: #03DAC6;
}

.fas.fa-circle{
  color: #03DAC6;
  display: none;
}

#one.fas.fa-circle{
  color: #03DAC6;
  display:none;
}

.timer{
  margin-top: 10px;
}


button[data-setter] {
    outline: none;
    background: transparent;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    width: 25px;
    height: 30px;
    color: #F7958E;
    cursor: pointer;
}
button[data-setter]:hover {
    opacity: 0.5;
}

.setters {
    margin-left: auto;
    margin-right: auto;

}
.minutes-set {
    float: left;
}
.seconds-set {
    float: right;
}

.display-remain-time {
    margin-left: auto;
    margin-right: auto;
    font-family: 'arial';
    font-weight: 100;
    font-size: 30px;
    color: #F7958E;
}

#chrono{
  text-align: center;
}

#pause {
    display: inline;
    outline: none;
    background: transparent;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
}
.play::before {
    display: ;
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid #F7958E;
}
.pause::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid #F7958E;
    border-top: none;
    border-bottom: none;
}
#pause:hover {
    opacity: 0.8;
}
.e-c-base {
    fill: none;
    stroke: #B6B6B6;
    stroke-width: 4px
}
.e-c-progress {
    fill: none;
    stroke: #F7958E;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
    fill: #FFF;
    stroke: #F7958E;
    stroke-width: 2px;
}



#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.profilepic {
  background: rgb(121,9,106);
  background: linear-gradient(90deg, rgba(121,9,106,1) 35%, rgba(255,154,0,1) 100%);
  height:37vh;
  width: 100%;
  position:fixed;

}

.profilepic-space{
  height: 20px;
}

#gem{
  width: 30px;

}

.bodycompo{
  height: 30%;
  margin-top: 37vh;
  margin-bottom: 20px;
}



.bodyfat{
  height: 30%;
}

.weight{
  height: 30%;
}

.rankcont{
  height: 500px;

  background: linear-gradient(180deg, rgba(58,69,180,1) 9%, rgba(69,196,252,1) 98%);
}

.rankcont table{
  color: white;
  margin-left: 10px;
}

.rankcont svg{
  margin-left:45%;;
  margin-right: auto;
  color: white;
}

.ranktitle p{
  color: white;
}

#title{
  color: white;
  margin-top: 50px;
  text-align: center;
  background-color: #3a45b4;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.prodreco{
  width: 100%
  height: auto;
}

.produits{
  margin-top: 50px;
  display: flex;
  margin-left: 5px;
}

#imgprod{
  position: fixed;
  margin-top: -5px
}

#prix{
  background-color: white;
}

#description{
  padding-top:  65%;
  margin-left: 5px;
}

.priceproduit{
    text-align: center;
    margin-top:10px ;
}

#heart{
  background-color: white;
}

.heartproduit{
  text-align: center;
  margin-top:10px ;
  margin-bottom: 10px;
}

.price {
  padding-left: 110px;
}

#size{
  position: fixed;
  top: 85%;
  left: 65%;
}

#size2{
  width:55px;
  height: 37.5px;
  background-color: orange;
  color:white;
  border-color: orange;
  border-radius: 8%;
}



#price{
  position: fixed;
  top: 85%;
  left: 82.5%;
}

.btn-secondary, .btn-secondary:hover{
  background-color: #ff9900;
  border-color: #ff9900;
}

.btn-primary, .btn-primary:hover{
  background-color: #03DAC6;
  border-color: #03DAC6;
}

.prodetails {
  display: flex;
  padding-left: 5px;
  margin-top:  -10px;
}

.prodtitle p{
  margin-left: -5px;
}

/* challenges */

#challenge1{
  margin-top: 50px;

}



.participate{
  margin-top: -8px;
  margin-left: 5px;
}
.classement table {
  margin-top: 8px;
  border:1px solid lightgrey;
}

.containerproduit{
  margin-top: 50px;
}

.containerproduit p{
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}



.navbar.navbar-light.bg-light.fixed-bottom {
  max-height:45px;
  height:100%;
}

#nav{
  margin-top: -15px;
  margin-left: 15px;
}

.training {
  padding-right: 15px;
}

.diet{
  padding-right: 15px;
}


.news {
    width: 160px
}

.news-scroll a {
    text-decoration: none
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: ;
    border-radius: 50%;
    display: inline-block
}

.container.mt-5{

  margin-left: 5px;
  margin-right: 5px;

}


.news1{
  color: orange;
  font-size: 14px;
  font-style: italic;
}

.news2{
  color: orange;
  font-size: 14px;
  font-style: italic;
}

.news3{
  color: orange;
  font-size: 14px;
  font-style: italic;
}



.img-responsive{
  display: flex;
  max-width: 100%;
  height:auto;
}
